#events-map {
  width: 65%;
  height: 60vh;
  position: relative;
  margin: 0 auto 0.7rem auto;
  z-index: 0
}

#star-explanation {
  display: inline-block
}

#star-for-explanation {
  height: 1.7rem;
  display: inline-block;
}

.sweet-loading {
  display: block;
  margin: auto;
  height: 100vh;
  width: 100vh;
  padding-top: 15rem;
  z-index: 100000;
}

.container-screenshot {
  height: 20rem;
  border: solid;
}
