#form {
  display: inline;
  position: fixed;
  right: 0rem;
  top: 0rem;
  width: 10rem;
  height: 8.2rem;
  background-color: rgb(80, 80, 80, 1);
  border-radius: 15px;
  border-color: inherit;
}

#email-login, #password-login {
  display: inline;
  border-radius: 3px;
  margin: 6.5px;
}

#login-button {
  display: inline;
}

#create-user-button {
  display: inline
}

span {
  display: inline;
}

#error {
  position: fixed;
  right: 0.5rem;
  top: 2.9rem;
  color: red;
  font-size: 1rem;
}
