@import url('https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  background-color: rgb(60,60,60, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99
}

.app-name {
  font-family: 'Domine', serif;
  margin-top: 1.5rem;
  color: white
}
h1 {
  text-align: center;
}

.user-credentials {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;

}

.modal-main {
  position:fixed;
  background: white;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  padding: 2rem 8rem;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 4px
}

.modal-label {
  display: block;
}
.modal-input {
  display: block;
  width: 400px;
  text-align: center;
}

textarea {
  width: 400px
}

.modal-button {
  display: block;
  padding: auto;
  margin: 0.5rem auto
}

input, textarea {
  padding: 3px;
  margin: 5px
}

/*  NAvBar*/
nav {
  position: fixed;
  top: 5rem;
  width: 100%;
  z-index: 90
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: rgba(25,65,137, 0.85);
}

li {
  float: center;
  display: inline;
  /* padding-top: 8rem; */
  margin: 1rem 0.5rem
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(25,65,137, 1);
}

.containers {
  position: relative;
  top: 10rem
}
